{% extends 'base.html' %}
{% load static %}
{% block title %}
Blog
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <div class="row mx-0 p-0 justify-content-center mt-5 ">
    <img src="{% static "images/blog_image.jpg" %}" class="rounded-5 mb-5" alt="Diyetisyen Banner">
  </div>

  <section class="mb-5 mt-5">
    <div class="container py-4 ">
      {% for blog in blogs %}
      <div class="row justify-content-center p-0">
        {% if forloop.counter|divisibleby:2 %}
        <div class="card p-0 mb-3 shadow-lg" style="max-width: 650px;">
          <div class="row g-0">
            <div class="col-md-5">
              <img src={{blog.image.url}} class="img-fluid rounded-4 p-2" alt="Diyetisyen">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title m-0">{{blog.title}}</h5>
                <span class="badge bg-warning mb-2">{{blog.author}}</span>
                <p class="card-text">{{blog.short_content}}</p>
                <p class="card-text"><small class="text-muted">{{blog.created_at}}</small></p>
              </div>
              <p><a href={% url "blog-icerik" blog.slug %}>devamını oku..</a></p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="card p-0 mb-3 shadow-lg" style="max-width: 650px;">
          <div class="row g-0 ">
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title m-0">{{blog.title}}</h5>
                <span class="badge bg-warning mb-2">{{blog.author}}</span>
                <p class="card-text">{{blog.short_content}}</p>
                <p class="card-text"><small class="text-muted">{{blog.created_at}}</small></p>
              </div>
              <p><a href={% url "blog-icerik" blog.slug %}>devamını oku..</a></p>
            </div>
            <div class="col-md-5">
              <img src={{blog.image.url}} class="img-fluid rounded-4 p-2" alt="Diyetisyen">
            </div>
          </div>
        </div>
        
          
        {% endif %}
        {% endfor %}
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if blogs.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="İlk">
                <span aria-hidden="true">&laquo; İlk</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ blogs.previous_page_number }}" aria-label="Önceki">
                <span aria-hidden="true">Önceki</span>
              </a>
            </li>
          {% endif %}

          <!-- Mevcut Sayfa Göstergesi (Opsiyonel) -->
          <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ blogs.number }} / {{ blogs.paginator.num_pages }}
              <span class="sr-only">(current)</span>
            </span>
          </li>

          {% if blogs.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ blogs.next_page_number }}" aria-label="Sonraki">
                Sonraki
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ blogs.paginator.num_pages }}" aria-label="Son">
                <span aria-hidden="true">Son &raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>

    </div>
  </section>

{% endblock content %}