{% extends 'base.html' %}
{% load static %}
{% block title %}
Blog
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <div class="row mx-0 p-0 justify-content-center mt-5 ">
    <img src="https://media.discordapp.net/attachments/1101190679402659910/1203047122463883264/Group_1.png?ex=65cfabf1&is=65bd36f1&hm=75c663b5962ad34dc2a1d2c9dbcf0502927d5e6ba2b5ec1891fe715bb816d89b&=&format=webp&quality=lossless&width=2162&height=720" class="rounded-5 mb-5" alt="Diyetisyen Banner">
  </div>

  <section class="mb-5 mt-5">
    <div class="container py-4 ">
      {% for blog in blogs %}
      <article class="postcard dark blue">
        <a class="postcard__img_link" href="{% url 'blog-icerik' blog.slug %}">
          <img class="postcard__img" src="{{blog.image.url}}" alt="Diyetisyen Blog" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a  class=" mx-1" href={% url "blog-icerik" blog.slug %}>{{blog.title}}</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="{{blog.created_at}}">
              <i class="fas fa-calendar-alt mr-2"></i> {{blog.created_at}}
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">{{blog.short_content}}</div>

          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i> {{blog.category}}</li>
            <li class="tag__item"><i class="fa-solid fa-at"></i> {{blog.author}}</li>
            <a href="{% url 'blog-icerik' blog.slug %}"><li class="tag__item"><i class="fa-solid fa-arrow-right"></i> Devamı</li></a>
          </ul>
        </div>
      </article>
      {% endfor %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if blogs.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="İlk">
                <span aria-hidden="true">&laquo; İlk</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ blogs.previous_page_number }}" aria-label="Önceki">
                <span aria-hidden="true">Önceki</span>
              </a>
            </li>
          {% endif %}

          <!-- Mevcut Sayfa Göstergesi (Opsiyonel) -->
          <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ blogs.number }} / {{ blogs.paginator.num_pages }}
              <span class="sr-only">(current)</span>
            </span>
          </li>

          {% if blogs.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ blogs.next_page_number }}" aria-label="Sonraki">
                Sonraki
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ blogs.paginator.num_pages }}" aria-label="Son">
                <span aria-hidden="true">Son &raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>

    </div>
  </section>

{% endblock content %}