{% extends 'base.html' %}
{% load static %}
{% block title %}Fiyatlandırma{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/packages.css' %}">
<div class="pricing8 py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="mb-3">Fiyatlandırma</h3>
        <h6 class="subtitle font-weight-normal">tatmin olacağınızdan % 100 eminim.</h6>
      </div>
    </div>
    <!-- row  -->
    <div class="row mt-4">
      <!-- column  -->
      <div class="col-md-4 ml-auto pricing-box align-self-center">
        <div class="card mb-4">
          <div class="card-body p-4 text-center">
            <h5 class="">Regular Plan</h5>
            <sup>$</sup><span class=" display-5">39</span>
            <h6 class="font-weight-light font-14">1 Aylık</h6>
            <p class="mt-4">The Master license allows you to customize, store and even host your website using your platform</p>
          </div>
          <a class="btn btn-info-gradiant p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
        </div>
      </div>
 
      <div class="col-md-4 ml-auto pricing-box align-self-center">
        <div class="card mb-4">
          <div class="card-body p-4 text-center">
            <h5 class="font-weight-normal master">Master Plan</h5>
            <sup>$</sup><span class="display-5">49</span>
            <h6 class="font-weight-light font-14">3 Aylık</h6>
            <p class="mt-4">The Master license allows you to customize, store and even host your website using your platform</p>
          </div>
          <a class="btn btn-danger-gradiant p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
        </div>
      </div>
      
      <div class="col-md-4 ml-auto pricing-box align-self-center">
        <div class="card mb-4">
          <div class="card-body p-4 text-center">
            <h5 class="font-weight-normal">Premium Plan</h5>
            <sup>$</sup><span class="display-5">69</span>
            <h6 class="font-weight-light font-14">6 Aylık</h6>
            <p class="mt-4">The Master license allows you to customize, store and even host your website using your platform</p>
          </div>
          <a class="btn btn-info-gradiant p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}
