{% extends 'base.html' %}
{% load static %}

{% block title %}iletişim{% endblock title %}

{% block content %}
<link rel="stylesheet" href={% static "css/services.css" %}>
<div style="margin-top: 100px;">
<div class="wrapper">
    
    <div class="row">
             {% for service in services %}
               
             <div class="col-md-4 space " ontouchstart="this.classList.toggle('hover');">
                 <div class="container">
                    <a href="{% url 'spor-diyeti' service.id %}">
                     <div class="front" style="background-image: url({{service.image.url}})">
                         <div class="inner">
                             <p>{{service.title}}</p>
                             <span>{{service.short_description|safe}}</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>{{service.short_second_description|safe}}</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>
                {% endfor %}
            </div>
   </div>
</div>
{% endblock content %}
