.card {
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Animasyon geçişlerini kartın kendisine de uygula */
  }
.card:hover {
	transform: scale(1.03); /* Kartın boyutunu artır */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Gölge efekti ekle */
  }
.span-hover {
transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Renk ve gölge geçişlerini yumuşat */
color: #000; /* Varsayılan metin rengi */
text-decoration: none; /* Metin altı çizgisini kaldır */
padding: 5px 10px; /* Buton boyutunu ayarla */
display: inline-block; /* Düzenli bir şekilde hizala */
background-color: #f8f9fa; /* Varsayılan arka plan rengi */
border-radius: 5px; /* Kenarları yuvarlat */
}

.span-hover:hover {
background-color: #06a917; /* Hover durumunda arka plan rengini değiştir */
color: #fff; /* Hover durumunda metin rengini değiştir */
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Gölge efekti ekle */
}