{% extends 'base.html' %}
{% load static %}

{% block title %}{{ blog.title }}{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about_single.css' %}">


<main class="container">
 <div class="row justify-content-between p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary mt-3" >
  <div class="col-md-8 d-flex flex-column ">
    <div class="flex-grow-1 overflow-hidden">
      <h3  class="fst-italic lh-sm fs-1 link-body-emphasis mb-1">{{blog.title}}</h3>
      <p class="text-muted mt-auto">{{blog.short_content|truncatewords:30}}</p>
    </div>
    <p class="blog-post-meta">{{blog.created_at}} <a href="#"> - {{blog.author}}</a></p>

  </div>
  <div class="col-md-4 d-flex justify-content-center align-items-center">
    <img src={{blog.image.url}} height="75%" alt="">

  </div>
 </div>


<div class="row g-5">
<div class="col-md-8">
  <article class="blog-post overflow-hidden">
    <div>
      {{blog.description|safe}}
    </div>

  </article>
</div>

<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-body-tertiary rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">📌Detaylı vücut analizi için randevu oluşturabilirsiniz.
        <br>
        ☎️0501 036 79 44 telefon numarasını arayabilir veya mesaj atabilirsiniz.
        <br>
        Bahaneler üretmeden diyete başlama vaktiii🤓
        <br>
        Ölçüm sonucunuza baktıktan sonra sizin kendi hedeflerinize ve olmanız gereken aralığa göre ulaşılabilir hedefler belirliyoruz.
        <br>
        🌟Yaşam tarzınıza uygun bir beslenme programı da hazırladıktan sonra artık zayıflama/kilo alma kısmına geçebiliriz.
        <br>
        📍Ofisim Büyükçekmece Mimar Sinan Devlet Hastanesi acil girişinin tam yanında.
        <br>
        Sağlıklı beslenmeye başlamak isteyenleri bekliyorum🤓</p>
    </div>

    <div>
      <h4 class="fst-italic text-center">Recent posts</h4>
      <hr>
      <ul class="list-unstyled text-center">
        {% for blog in blogs|slice:":3" %}
        <div class="row  my-2 justify-content-center">
          <div class="col-md-6 justify-content-center">
            <img src="{{blog.image.url}}" height="100px" style="max-width: 150px;object-fit: cover;" class="rounded" alt="Diyetisyen Blog">
          </div>
          <div class="col-md-6 justify-content-center">
            <h5 class="mb-0">{{blog.title}}</h5>
            <small class="text-body-secondary">{{blog.created_at}}</small>

          </div>
        </div>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>

</main>

<footer class=" text-center">
  <p><a href="#">Back to top</a></p>
</footer>



{% endblock content %}