{% extends 'base.html' %}
{% load static %}

{% block title %}{{service.title}}{% endblock title %}

{% block content %}

<div class="container">
  <h2 class="mt-5 text-center display-3">{{service.title}}</h2>
  <div class="row justify-content-center">
    <div class="col-md-9 text-center">
      <img src="{{service.content_image.url}}" alt="Resim Bulunamadı">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 mt-5 text-center">
      {{service.description|safe}}
    </div>
  </div>

</div>


{% endblock content %}
