{% load static %}


<section class="game-section">

    <div class="owl-carousel custom-carousel owl-theme">
      <div class="item active" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/dota-2.jpg);">
        <div class="item-desc">
          <h3>Dota 2</h3>
          <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
            Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
        </div>
      </div>
      <div class="item" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/winter-3.jpg);">
        <div class="item-desc">
          <h3>The Witcher 3</h3>
          <p>The Witcher 3 is a multiplayer online battle arena by Valve. The game is a sequel to Defense
            of the Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
        </div>
      </div>
      
    </div>
    </div>
  </section>


